.logo{
  font: 500 30px/36px montserratmedium, arial, helvetica, sans-serif;
}
.switch__button{
  font: 500 20px/24px montserratmedium, arial, helvetica, sans-serif;
}
.main__title{
  font: bold 80px/81px montserratbold, arial, helvetica, sans-serif;
}
.main__subtitle{
  font: 400 15px/21px montserratregular, arial, helvetica, sans-serif;
}
